.home-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
  .home-container img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
  }
  .home-container body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .home-container body {
    background-color: #f6f6f6;
  }
 

  .home-container .home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
  }
  .home-container .home-bannerImage-container {
    display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto; 
  }
  .home-container .home-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 3rem; /* Adjust margin to move the image down */
  }
  .home-container .home-image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .home-container .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #ff0808;
    /* line-height: 5rem; */
    max-width: 600px;
    margin-left: 3%;
  }
  .home-container .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #9aa9ff;
    margin: 1.5rem 0rem;
    margin-left: 3%;
  }
  .home-container .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-left: 27%;
  }
  .home-container .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .home-container .secondary-button:hover {
    background-color: #e48f0f;
  }
  .home-container .home-text-section .primary-heading {
    font-family: 'Sedan SC', sans-serif;
}
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content {
  flex: 1;
}

.home-footer {
  background-color: #333;
  color: white;
  padding: auto;
  text-align: center;
  height: 50px;
}
.home-footer p {
  font-size: 14px; 
}